---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos/?Accept-Version=v1&client_id=wQKpXkf9uzU7M9dbQKhkVBAvxGlYJ_qKvRDOtfs4C4U&query=london,%20uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?Accept-Version=v1&client_id=wQKpXkf9uzU7M9dbQKhkVBAvxGlYJ_qKvRDOtfs4C4U&page=1832&query=london%2C+uk>;
        rel="last", <https://api.unsplash.com/search/photos?Accept-Version=v1&client_id=wQKpXkf9uzU7M9dbQKhkVBAvxGlYJ_qKvRDOtfs4C4U&page=2&query=london%2C+uk>;
        rel="next"
      X-Total:
      - '18317'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"total":18317,"total_pages":1832,"results":[{"id":"p_cHW1REBWc","created_at":"2019-06-13T15:10:05-04:00","updated_at":"2020-07-28T01:07:30-04:00","promoted_at":null,"width":5369,"height":3401,"color":"#FAE8D4","description":"Business
        in L/OnDon/","alt_description":"architectural photography of city buildings","urls":{"raw":"https://images.unsplash.com/photo-1560452992-e3c28ffc6432?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE1Mjk0NX0","full":"https://images.unsplash.com/photo-1560452992-e3c28ffc6432?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE1Mjk0NX0","regular":"https://images.unsplash.com/photo-1560452992-e3c28ffc6432?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE1Mjk0NX0","small":"https://images.unsplash.com/photo-1560452992-e3c28ffc6432?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1Mjk0NX0","thumb":"https://images.unsplash.com/photo-1560452992-e3c28ffc6432?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE1Mjk0NX0"},"links":{"self":"https://api.unsplash.com/photos/p_cHW1REBWc","html":"https://unsplash.com/photos/p_cHW1REBWc","download":"https://unsplash.com/photos/p_cHW1REBWc/download","download_location":"https://api.unsplash.com/photos/p_cHW1REBWc/download"},"categories":[],"likes":21,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"kffBFpOMo2Y","updated_at":"2020-07-24T19:34:21-04:00","username":"arturtumasjan","name":"Artur
        Tumasjan","first_name":"Artur","last_name":"Tumasjan","twitter_username":"arturtumasjan","portfolio_url":"http://www.artur-tumasjan.de","bio":"Designs/Photos/Video/Dev.
        Thanks for supporting me and appreciate all photo credit. I am available for
        hiring :) Follow me on instagram @fotosbyartur ","location":"Oberhausen","links":{"self":"https://api.unsplash.com/users/arturtumasjan","html":"https://unsplash.com/@arturtumasjan","photos":"https://api.unsplash.com/users/arturtumasjan/photos","likes":"https://api.unsplash.com/users/arturtumasjan/likes","portfolio":"https://api.unsplash.com/users/arturtumasjan/portfolio","following":"https://api.unsplash.com/users/arturtumasjan/following","followers":"https://api.unsplash.com/users/arturtumasjan/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1583242257480-5cfb78e0c2e5image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1583242257480-5cfb78e0c2e5image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1583242257480-5cfb78e0c2e5image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"fotosbyartur","total_collections":2,"total_likes":611,"total_photos":92,"accepted_tos":true},"tags":[{"type":"search","title":"building"},{"type":"landing_page","title":"city","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"city","pretty_slug":"City"}},"title":"HD
        City Wallpapers","subtitle":"Download Free City Wallpapers","description":"Choose
        from a curated selection of city wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"City Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free city
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"Nyvq2juw4_o","created_at":"2016-10-31T20:26:28-04:00","updated_at":"2020-07-14T01:07:46-04:00","promoted_at":"2016-10-31T20:26:28-04:00","width":3465,"height":2131,"color":"#F8E4D9","description":"City
        architecture and skyscrapers near waterfront","alt_description":"white and
        brown city buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ix[...]
