---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos/?Accept-Version=v1&client_id=wQKpXkf9uzU7M9dbQKhkVBAvxGlYJ_qKvRDOtfs4C4U&query=austin,%20tx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?Accept-Version=v1&client_id=wQKpXkf9uzU7M9dbQKhkVBAvxGlYJ_qKvRDOtfs4C4U&page=281&query=austin%2C+tx>;
        rel="last", <https://api.unsplash.com/search/photos?Accept-Version=v1&client_id=wQKpXkf9uzU7M9dbQKhkVBAvxGlYJ_qKvRDOtfs4C4U&page=2&query=austin%2C+tx>;
        rel="next"
      X-Total:
      - '2806'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"total":2806,"total_pages":281,"results":[{"id":"MUIilmdar2Y","created_at":"2019-05-28T18:14:07-04:00","updated_at":"2020-04-07T01:09:15-04:00","promoted_at":null,"width":6000,"height":4000,"color":"#FCECE9","description":null,"alt_description":"brown
        concrete dam near trees during daytime","urls":{"raw":"https://images.unsplash.com/photo-1559081632-cfac94fc46d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE1Mjk0NX0","full":"https://images.unsplash.com/photo-1559081632-cfac94fc46d9?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE1Mjk0NX0","regular":"https://images.unsplash.com/photo-1559081632-cfac94fc46d9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE1Mjk0NX0","small":"https://images.unsplash.com/photo-1559081632-cfac94fc46d9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1Mjk0NX0","thumb":"https://images.unsplash.com/photo-1559081632-cfac94fc46d9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE1Mjk0NX0"},"links":{"self":"https://api.unsplash.com/photos/MUIilmdar2Y","html":"https://unsplash.com/photos/MUIilmdar2Y","download":"https://unsplash.com/photos/MUIilmdar2Y/download","download_location":"https://api.unsplash.com/photos/MUIilmdar2Y/download"},"categories":[],"likes":7,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"K6cszF0i-QM","updated_at":"2020-07-16T08:01:17-04:00","username":"pho_2_graph","name":"Avi
        Werde","first_name":"Avi","last_name":"Werde","twitter_username":null,"portfolio_url":"https://www.instagram.com/pho_2_graph/","bio":"NY
        and Miami Real Estate Agent at Compass. @aviwerde Architectural and landscape
        photographer. @pho_2_graph. Hat maker @werdehatco\r\n *@=Instagram","location":"Brooklyn,
        NY","links":{"self":"https://api.unsplash.com/users/pho_2_graph","html":"https://unsplash.com/@pho_2_graph","photos":"https://api.unsplash.com/users/pho_2_graph/photos","likes":"https://api.unsplash.com/users/pho_2_graph/likes","portfolio":"https://api.unsplash.com/users/pho_2_graph/portfolio","following":"https://api.unsplash.com/users/pho_2_graph/following","followers":"https://api.unsplash.com/users/pho_2_graph/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1551918151644-043c14c1f4ee?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1551918151644-043c14c1f4ee?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1551918151644-043c14c1f4ee?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"pho_2_graph","total_collections":0,"total_likes":7,"total_photos":89,"accepted_tos":true},"tags":[{"type":"search","title":"river"},{"type":"landing_page","title":"water","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"nature","pretty_slug":"Nature"},"subcategory":{"slug":"water","pretty_slug":"Water"}},"title":"HD
        Water Wallpapers","subtitle":"Download Free Water Wallpapers","description":"Choose
        from a curated selection of water wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"Water Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free water
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"fbbxMwwKqZk","created_at":"2019-07-29T12:55:54-04:00","updated_at":"2020-07-14T01:09:48-04:00","promoted_at":null,"width":3631,"height":5446,"color":"#181B1A","description":null,"alt_description":"white
        and black cardboard box","urls":{"raw":"https://images.unsplash.com/photo-1564419320461-6870880221ad?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1564419320461-6870880221ad?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb","regular":"https://images.unsplash.com/photo-15[...]
