---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API>&exclude=minutely&lat=58.301084&lon=-134.424524&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":58.3,"lon":-134.42,"timezone":"America/Juneau","timezone_offset":-28800,"current":{"dt":1596321698,"sunrise":1596286243,"sunset":1596345425,"temp":68,"feels_like":60.04,"pressure":1013,"humidity":60,"dew_point":53.62,"uvi":5.07,"clouds":75,"visibility":10000,"wind_speed":16.11,"wind_deg":120,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1596319200,"temp":68,"feels_like":64.22,"pressure":1013,"humidity":60,"dew_point":53.62,"clouds":75,"visibility":5776,"wind_speed":8.68,"wind_deg":140,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.85,"rain":{"1h":0.57}},{"dt":1596322800,"temp":65.88,"feels_like":62.22,"pressure":1013,"humidity":65,"dew_point":53.8,"clouds":65,"visibility":5169,"wind_speed":8.57,"wind_deg":141,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.85,"rain":{"1h":0.67}},{"dt":1596326400,"temp":64.62,"feels_like":61.21,"pressure":1014,"humidity":69,"dew_point":54.23,"clouds":62,"visibility":5250,"wind_speed":8.37,"wind_deg":145,"weather":[{"id":500,"main":"Rain","description":"li[...]
