---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API>&location=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 01 Aug 2020 22:26:04 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-112702050"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=476775898"}]}]}'
  recorded_at: Sat, 01 Aug 2020 22:26:04 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API>&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1596320373,"sunrise":1596283164,"sunset":1596334374,"temp":85.21,"feels_like":77.74,"pressure":1025,"humidity":20,"dew_point":39.65,"uvi":10,"clouds":75,"visibility":10000,"wind_speed":9.17,"wind_deg":360,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1596319200,"temp":85.21,"feels_like":74.25,"pressure":1025,"humidity":20,"dew_point":39.65,"clouds":75,"visibility":10000,"wind_speed":15.37,"wind_deg":48,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.07},{"dt":1596322800,"temp":81.36,"feels_like":68.05,"pressure":1021,"humidity":28,"dew_point":45.16,"clouds":57,"visibility":10000,"wind_speed":21.59,"wind_deg":300,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.31},{"dt":1596326400,"temp":77.2,"feels_like":72.91,"pressure":1019,"humidity":37,"dew_point":48.94,"clouds":54,"visibility":10000,"wind_speed":7.23,"wind_deg":241,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.51,"rain":{"1h":0.83}},{"dt":1596330000,"temp":76.89,"feels_like":74.68,"pressure":1019,"humidity":36,"dew_point":47.93,"clouds":83,"visibility":10000,"wind_speed":3.11,"wind_deg":138,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.52},{"dt":1596333600,"temp":74.55,"feels_like":70,"pressure":1020,"humidity":40,"dew_point":48.67,"clouds":88,"visibility":10000,"wind_speed":7.58,"wind_deg":172,"weather":[{"id":804,"main":"Clouds","description":"overcast
     [...]
