---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API>&lat=58.301084&lon=-134.424524
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":58.3,"lon":-134.42,"timezone":"America/Juneau","timezone_offset":-28800,"current":{"dt":1596314571,"sunrise":1596286243,"sunset":1596345425,"temp":294.15,"feels_like":288.97,"pressure":1012,"humidity":60,"dew_point":286.1,"uvi":5.07,"clouds":75,"visibility":10000,"wind_speed":8.7,"wind_deg":130,"wind_gust":11.8,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1596312000,"temp":294.15,"feels_like":292.16,"pressure":1012,"humidity":60,"dew_point":286.1,"clouds":75,"visibility":10000,"wind_speed":4.15,"wind_deg":138,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.77,"rain":{"1h":0.37}},{"dt":1596315600,"temp":292.87,"feels_like":290.63,"pressure":1012,"humidity":62,"dew_point":285.39,"clouds":51,"visibility":6287,"wind_speed":4.19,"wind_deg":137,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.82,"rain":{"1h":0.43}},{"dt":1596319200,"temp":291.6,"feels_like":289.57,"pressure":1013,"humidity":67,"dew_point":285.37,"clouds":50,"visibility":5776,"wind_speed":3.88,"wind_deg":140,"weather":[{"id":500,"main":"Rain","descriptio[...]
