---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API>&location=austin,%20tx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 02 Aug 2020 16:07:41 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"austin,
        tx"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Austin","adminArea5Type":"City","adminArea4":"Travis
        County","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282038951","unknownInput":"","type":"s","latLng":{"lat":30.264979,"lng":-97.746598},"displayLatLng":{"lat":30.264979,"lng":-97.746598},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API>&type=map&size=225,160&locations=30.264979,-97.746598|marker-sm-50318A-1&scalebar=true&zoom=12&rand=861163108"}]}]}'
  recorded_at: Sun, 02 Aug 2020 16:07:41 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API>&exclude=minutely&lat=30.264979&lon=-97.746598&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.26,"lon":-97.75,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1596384462,"sunrise":1596369028,"sunset":1596417832,"temp":89.29,"feels_like":96.66,"pressure":1016,"humidity":59,"dew_point":73.08,"uvi":10.44,"clouds":40,"visibility":10000,"wind_speed":3.36,"wind_deg":150,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1596384000,"temp":89.29,"feels_like":96.6,"pressure":1016,"humidity":59,"dew_point":73.08,"clouds":40,"visibility":10000,"wind_speed":3.44,"wind_deg":275,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.29},{"dt":1596387600,"temp":91.44,"feels_like":96.13,"pressure":1016,"humidity":47,"dew_point":68.38,"clouds":20,"visibility":10000,"wind_speed":3.76,"wind_deg":305,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0.29},{"dt":1596391200,"temp":93.87,"feels_like":95.47,"pressure":1015,"humidity":37,"dew_point":63.64,"clouds":9,"visibility":10000,"wind_speed":5.48,"wind_deg":329,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","ico[...]
